<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.CY-7F74EF40-E3DD-11E6-B1BC-ABE53572EED3.com.baidu.netdisk.share</string>
	</array>
</dict>
</plist>
